<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{partions/main}"
>
<div layout:fragment="contentOfSite">
    <form th:action="@{/tasks/new}" method="post">
        <div class="row mt-5">
            <div class="mb-3">
                <label for="title" class="form-label">TITLE:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Insert title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="content" rows="3" placeholder="Insert description"></textarea>
                <input type="checkbox" name="done"> Completed
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Choose Author</label>
                <select class="form-select" name="author_id" id="author">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.username}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</html>